<div class="containerbg">
 
 
    <div class="sign">
          <span class="fast-flicker">T</span>H<span class="flicker">e</span>
    </div>
    
    <div class="sign" style="top: 30%;">
      <span class="flicker">m</span>em<span class="fast-flicker">o</span>ry
    </div>
    
    <div class="sign" style="top: 40%;">
      G<span class="fast-flicker">a</span>m<span class="flicker">e</span>
    </div>
        
      <div class="center">
        
        <button mat-raised-button color="accent" (click)="openDialog()">Let's Play</button>
      </div>
      
    
    
    </div>
    
    